.container {
  border: 2px white solid;
  max-width: 99.6vw;
  height: 40px;
  line-height: 26px;
  margin-block-end: 40px;
  margin-top: 34px;
}

ul {
  text-align: left;
  margin-block-start: 0;
  margin-block-end: 0;
}

li {
  font-size: 1rem;
  display: inline-block;
}

li span {
  display: inline-block;
  font-size: 16px;
  padding-left: 10px;
  color: orange;
}

li.released {
  width: 220px;
}

li.actor {
  width: 250px;
}

li.show {
  width: 700px;
}

li.score {
  width: 100px;
}

.points {
  color: orange;
}
