h5 {
  font-weight: 600;
  display: inline-block;
}

.flexContainer {
  position: absolute;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  width: 100vw;
}

.headlines {
  flex: 40;
  padding-left: 40px;
}

.scorer {
  margin-left: 10px;
}
