h5 {
  font-weight: 600;
  display: inline-block;
}

.flexContainer {
  position: absolute;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 64px;
  width: 100vw;
}

.headlines {
  flex: 40;
  padding-left: 40px;
}

.scorer {
  margin-left: 10px;
}

.leaderButton {
  margin-left: 20px;
  background-color: black !important;
  border-color: darkgrey !important;
}

.leaderButton:focus {
  box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 1) !important;
}
