.FBlogin {
  flex: 1;
  margin-right: 50px;
  margin-top: 14px;
}

.FBlogo {
  box-sizing: border-box;
  width: 50px;
  height: 50px;
}

button {
  box-sizing: border-box;
  background: transparent;
}

button:hover {
  cursor: pointer;
  border: solid darkgray 2.5px;
  padding: 0.5 5.5px;
}

button:hover .FBlogo {
  border: solid black 1.5px;
  width: 48.5px;
  height: 48.5px;
}
